{% extends 'main2.html' %}
{% load widget_tweaks %}

{% block content %}
<h1>New Entry</h1>

<form class="form" method="post" enctype="multipart/form-data">

  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="form-group">
    {{ form.code.errors }}
    <label class="form-label">{{ form.code.label }}</label>
    {% render_field form.code type="text" %}
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        {{ form.price.errors }}
        <label class="form-label">{{ form.price.label }}</label>
        {% render_field form.price type="number" %}
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        {{ form.qty.errors }}
        <label class="form-label">{{ form.qty.label }}</label>
        {% render_field form.qty type="number" %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        {{ form.order_date.errors }}
        <label class="form-label">{{ form.order_date.label }}</label>
        {% render_field form.order_date type="date" %}
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        {{ form.delivery_date.errors }}
        <label class="form-label">{{ form.delivery_date.label }}</label>
        {% render_field form.delivery_date type="date" %}
      </div>
    </div>
  </div>

  <div class="form-group">
    {{ form.supplier.errors }}
    <label class="form-label">{{ form.supplier.label }}</label>
    {% render_field form.supplier type="text" %}
  </div>

  <div class="form-group">
    {{ form.status.errors }}
    <label class="form-label">{{ form.status.label }}</label>
    {% render_field form.status type="text" %}
  </div>

  <div class="form-group">
    {{ form.note.errors }}
    <label class="form-label">{{ form.note.label }}</label>
    {% render_field form.note type="text" %}
  </div>
<div style="margin: 20px;"></div>
  <button type="submit" class="btn btn-primary">Submit</button>
  {{ form.errors }}
</form>
{% endblock %}