{% extends 'main2.html' %}
{% load static %}
{% block pagetittle %}
<h1 class="page-tittle">Home</h1>
{% endblock %}
{% block content %}

    <h1 class="anchor fw-bolder mb-5" id="cell-spacing">
        Supplier Order Count</h1>
    <div class="row g-5">
        {% for supplier in supplier_order_count %}
    
        <div class="col-lg-4 text-center">
            <div class="card card-stretch card-bordered mb-5">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        <div class="symbol symbol-50px">
                            <!-- <div class="symbol-label fs-2 fw-bold text-success">{{supplier.name|make_list|first}}</div> -->
                            <div class="symbol symbol-50px" style="margin-right:10px ;">
                                <img src="{{supplier.image.url}}" alt=""/>
                            </div>
                        </div>

                        {{supplier.name}}</h3>
                </div>
                <div class="card-body">
                   <h3>
                    <div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="{{supplier.sup_order_count}}" data-kt-countup-prefix="">0</div>
                   </h3>
                </div>
                <div class="card-footer">
                    <!-- <a href="{% url 'suppler_orders' supplier.id %}">all</a> -->
                    <a href="{% url 'suppler_orders' supplier.id %}" class="btn btn-outline btn-outline-dashed btn-outline-default me-2 mb-2">View All</a>
                </div>
            </div>
        </div>
      
    {% endfor %}
    </div>

<h1 class="anchor fw-bolder mb-5" id="cell-spacing">
  Orders Status Count</h1>
  <div class="row g-5 text-center">
    
    <div class="col-lg-3">
        <div class="card card-stretch card-bordered mb-5">
            <div class="card-header">
                <h3 class="card-title">Initial Orders</h3>
            </div>
            <div class="card-body">
               <h3><div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="{{initails_orders_count}}" data-kt-countup-prefix="">0</div></h3>
            </div>
            <div class="card-footer">
                <div class="symbol symbol-50px">
                    <div class="symbol-label fs-2 fw-bold bg-primary text-inverse-primary">I</div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-lg-3">
        <div class="card card-stretch card-bordered mb-5">
            <div class="card-header">
                <h3 class="card-title">Assingend orders</h3>
            </div>
            <div class="card-body">
                <h3><div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="{{assigne_orders_count}}" data-kt-countup-prefix="">0</div></h3>
            </div>
            <div class="card-footer">
                <div class="symbol symbol-50px">
                    <div class="symbol-label fs-2 fw-bold bg-info text-inverse-info">A</div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-lg-3">
        <div class="card card-stretch card-bordered mb-5">
            <div class="card-header">
                <h3 class="card-title">Pending Orders</h3>
            </div>
            <div class="card-body">
                <h3><div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="{{assigne_orders_count}}" data-kt-countup-prefix="">0</div></h3>
            </div>
            <div class="card-footer">
                <div class="symbol symbol-50px">
                    <div class="symbol-label fs-2 fw-bold bg-primary text-inverse-primary">P</div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-lg-3">
        <div class="card card-stretch card-bordered mb-5">
            <div class="card-header">
                 <h3 class="card-title">Complete Orders</h3>
            </div>
            <div class="card-body">
                <center> <h3>{{complete_orders_count}}</h3> </center>
            </div>
            <div class="card-footer">
                <div class="symbol symbol-50px">
                    <div class="symbol-label fs-2 fw-bold bg-info text-inverse-info">C</div>
                </div>
            </div>
        </div>
    </div>
  
  </div>

<div style="margin-top:50px ;"></div>

<div id="new-entry-table">
    <div class="card mb-5 mb-xl-8">
        <!--begin::Header-->
        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold fs-3 mb-1">Recent Updated Orders</span>
                <!-- <span class="text-muted mt-1 fw-semibold fs-7">Over 500 new products</span> -->
            </h3>
            <div class="card-toolbar">
                <a href="{% url 'new_entry' %}" class="btn btn-sm btn-light-primary">
                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                <span class="svg-icon svg-icon-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                    </svg>
                </span>
                <!--end::Svg Icon-->New Entry</a>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body py-3">
            <!--begin::Table container-->
            <div class="table-responsive">
                <!--begin::Table-->
                <table class="table align-middle gs-0 gy-4">
                    <!--begin::Table head-->
                    <thead>
                        <tr class="fw-bold text-muted bg-light">
                            <th class="ps-4 min-w-200px rounded-start">Product</th>
                            <th class="min-w-125px">Price</th>
                            <th class="min-w-125px">Qty</th>
                            <th class="min-w-200px">Dates</th>
                            <th class="min-w-150px">Status</th>
                            <th class="min-w-200px text-end rounded-end"></th>
                        </tr>
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody>

                    {% for entry in all_entries_recent %}  
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-50px me-5">
                                        <img src="{{ entry.code.main_image.url }}" class="" alt="">
                                    </div>
                                    <div class="d-flex justify-content-start flex-column">
                                        <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{entry.code}}</a>
                                        <span class="text-muted fw-semibold text-muted d-block fs-7">{{entry.supplier}}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">৳ {{entry.price}}</a>
                            </td>
                            <td>
                                <a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{entry.qty}}</a>
                            </td>
                            <td>
                                <p class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">Order: {{entry.order_date}}</p>
                                <p class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">Delivery: {{entry.delivery_date}}</p>
                            </td>
                            <td>
                                {% if entry.status == 'Complete' %}
                                <span class="badge badge-light-success fs-7 fw-bold">{{entry.status}}</span>

                                {% elif entry.status == 'Initial'%}
                                <span class="badge badge-light-primary fs-7 fw-bold">{{entry.status}}</span>
                                
                                {% elif entry.status == 'Assigned'%}
                                <span class="badge badge-light-info fs-7 fw-bold">{{entry.status}}</span>

                                {% elif entry.status == 'Pending'%}
                                <span class="badge badge-light-danger fs-7 fw-bold">{{entry.status}}</span>

                                {% endif %}
                            </td>
                            <td class="text-end">
                                <a href="{% url 'partial_confirm' entry.id %}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="currentColor"></path>
                                            <path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                                <a href="{% url 'edit_entry' entry.id %}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                    <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor"></path>
                                            <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                                <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor"></path>
                                            <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor"></path>
                                            <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
            </div>
            <!--end::Table container-->
        </div>
        <!--begin::Body-->
    </div>
</div>
{% endblock %}