{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}



<h4>Initial Orders</h4>

<table class="table">


    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">code</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Supplier</th>
        <th scope="col">STATUS</th>
        <th scope="col">Order Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    {% for entry in all_entries %}
    <tbody>
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{entry.code}}</td>
        <td><img src="{{ entry.main_image.url }}" class="img-thumbnail rounded" alt="..." width="150" height="150"></td>
        {% if entry.price == 0 %}
        <td> </td>
        {% else %}
        <td>{{entry.price}}</td>
        {% endif%}
        <td>{{entry.supplier}}</td>
        <td>{{entry.status}}</td>
        <td>{{entry.order_date}}</td>
        <td>
          <form action="{% url 'edit_entry' entry.id %}" method="POST">
            {% csrf_token %}
          <button type="submit" class="btn btn-success">Edit</button></td>
        </form>
      </tr>

      {% endfor %}
    </tbody>
  </table>

  {% endblock %}
